version: "3.9"
services:
  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./apps/web:/app
      - /app/node_modules
    environment:
      SERVER_URL: http://api:3001

  api:
    container_name: api
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    ports:
      - "3001:3001"
    volumes:
      - ./apps/api:/app
      - /app/node_modules
    environment:
      NODE_ENV: development
      PORT: 3001
      CORS_ORIGIN: "http://localhost:3000"
      DATABASE_URL: "postgresql://postgres:postgres@postgres:5432/ecommerce"

  postgres:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ecommerce
  redis:
    image: redis:7
    ports:
      - "6379:6379"
